<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr />
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, iusto illum. Et assumenda quibusdam iure eius harum necessitatibus quam voluptates reprehenderit voluptate eligendi dolorem possimus autem, labore quia quasi eveniet. Lorem ipsum dolor
    sit amet consectetur, adipisicing elit. Est necessitatibus aut corrupti aliquam ullam incidunt culpa animi magnam temporibus omnis hic dolore iste dolor cupiditate accusantium rerum, nisi placeat? Alias!
</p>